/* //reset all element */
*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
   
}
body{
    /* background-image: url('./assets/image/web-design-2038872.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;
   
}
#heading{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
#heading h1{
    text-shadow: 0 0 2px ;
    padding: 40px 20px 20px;
    font-size: 3rem;
    color: #051749;
}

#projects{
    background-color: rgb(216, 223, 230);
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* border-top:  3px solid gray; */
    /* box-shadow:  0 -2px 1px 1px rgb(17, 27, 17); */

    padding: 50px;
    overflow-y: auto;
    position: relative;
    z-index: 2;
}
.project-item{
    width:400px;
    height:400px;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 50px;

    border-radius: 10px;
    box-shadow: inset 0 0 2px 2px rgb(176, 172, 172);

    position: relative;
    z-index: 2;
}
.project-image{
    width:100%;
    height:100%;
    /* background-image: url('https://cdn.pixabay.com/photo/2023/05/27/11/03/woman-8021288__340.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     /* border: solid; */
     position: relative;
    z-index: 2;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    /* transform: rotateY(50deg) rotateX(56deg); */

}
.project-image-wrapper-container{
    width: 100%;
    height: 100%;
    background-color: rgba(6, 85, 94, 0.335);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.project-image-wrapper-container:hover{
    background-color: transparent;
    transform: scale(1.3);
    
    transition: all 1s ease-in-out;
}
.project-image:hover{
    transform: scale(1.2) translateX(-23px);
    border-radius: 10px;
    z-index: 2;
    transition: all 3s ease-in-out .7s;
    box-shadow:inset 0 0 0px 2px rgb(199, 194, 194);
}

.project-details{
    margin: auto;
    width:100%;
    height:20%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* border: solid; */
    color: rgb(255, 255, 255);
    position: absolute;
    /* top: 0;
    left: -15%; */
    top: 40%;
    left:-55%;
    padding: 10px;
    z-index: 0;

    transform: rotateZ(-90deg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(123, 114, 97);


}
/* .project-details:hover{
    transform: rotateZ(0deg);
    z-index: 3;
    left: 0;
    justify-content: space-evenly;
    transition: all .3S ease-in;
    background-color: rgb(123, 114, 97);
    border-radius: 10PX;
} */
.project-heading{
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}
.project-about{
    /* padding: 0px zz0px ; */
    /* text-align: justify; */
    text-align: center;
    font-size: 1.4rem;
}

#project-image1{
    background-image: url('./assets/image/portfolio1.jpeg');
    background-position: top;


}
#project-image2{
    background-image: url('./assets/image/video\ player.jpeg');

}
#project-image3{
    background-image: url('./assets/image/portfolio2.jpeg');
    background-position: top;


}
#project-image4{
    background-image: url('./assets/image/weather.jpeg');

}

/* footer */
footer{
background-color: transparent;
text-align: center;
padding: 20px;
/* border: solid; */
}
#footer-navigation{
width:400px;
margin:0 auto;
padding: 20px 0 7px;
}
#footer-navigation-list{
list-style: none;
display: flex;
justify-content: space-evenly;
}
.footer-navigation-item{
padding: 10px;
}
.footer-navigation-item-link{
text-decoration: none;
font-size: 2.5rem;
}
.footer-navigation-item-link i:hover{
transform: scale(1.5);
border-bottom: 1px solid ;
transition: transform 2s  0s ease-in-out,border-bottom 3s ease-in-out;

}

#copyright{
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 1.2em;
line-height: 21px;
/* identical to box height */

text-align: center;

/* Dark */

color: #21243D;
}

.pink{color: #d40c81;}
.blue{color: #0d4af1;}
.black{color:black}
.phone{color:#055364}



#projects::-webkit-scrollbar{
width: 12px;
background-color: #051749;

}
#projects::-webkit-scrollbar-track{
    width: 10px;
    background-color: #c8cee0;
    border-radius:10px ;
}
#projects::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #031754;
    border-radius:10px ;
}
#projects::-webkit-scrollbar-button{
    width: 10px;
    background-color: #b5b7bd;
    border-radius:2px ;display: none;
    
}



@media screen and (max-width:400px) {

    
    #heading h1{
        font-size: 2rem;
    }


    #projects{
        padding: 10px;
    }
    .project-item{
        width: 100%;
        /* border: solid black; */
    }
    .project-details{
        width: 400px;
        left: -70%;
    }
    .project-heading{
        font-size: 1.5rem;
    }

    .project-image-wrapper-container:hover{
        background-color: transparent;
        transform: scale(1.1);
        
        transition: all 1s ease-in-out;
    }
    .project-image:hover{
        transform: scale(1.1) translateX(-23px);
        border-radius: 10px;
        z-index: 2;
        transition: all 3s ease-in-out .7s;
        box-shadow:inset 0 0 0px 2px rgb(199, 194, 194);
    }

    /* footer */
    footer{
        padding: 10px;
    }
    #footer-navigation{
        width:200px;
        margin:0 auto;
        padding: 20px 0 7px;
    }
    .footer-navigation-item-link{
        text-decoration: none;
        font-size: 1.5rem;
        }
        .footer-navigation-item-link i:hover{
        transform: scale(1.5);
        border-bottom: 1px solid ;
        transition: transform 2s  0s ease-in-out,border-bottom 3s ease-in-out;
        
        }

        #copyright{
            font-size: 1em;
        }


}







